.advantages {
  background-color: @grey;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
}

.advantages__number,
.advantages__description {
  font-size: 14px;
  line-height: 21px;
  color: @lightblack;
}
