.interest__button {
  background-color: @blue;
  color: @white;
  border: none;
  font-size: 21px;
  line-height: 26px;
  width: 280px;
height: 58px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.interest__title {
  font-size: 21px;
  line-height: 26px;
}

.interest__text {
  font-size: 14px;
  line-height: 24px;
  color: @lightblack;
}
