.photo-advantages {
color: @white;
  background-color: @blue;
}

.photo-advantages__title {
  font-size: 18px;
}

.photo-advantages__number,
.photo-advantages__text {
  font-size: 14px;
  line-height: 21px;
}

.photo-advantages__img {
  width: 520px;
  height: 260px;
}
