.recommendations__item {
  list-style-type: none;
  text-align: left;
}

.recommendations__title {
  font-size: 18px;
  line-height: 26px;
}

.recommendations__description {
  font-size: 14px;
  line-height: 21px;
  color: @lightblack;
}
